
.row__poster{
   object-fit: contain;
  max-height: 250px;
  width:100%;

  padding: 2px;
  margin: 23px 7px 23px 0px;
  transition: all 300ms;
  
}
.Heading{
  margin-top: 10px;
  margin-left: 20px;
}
.Row--poster {
  padding-left: 10px;
  
}
.imgwidth:hover {
  transform: scale(1.05);
}
.Row--poster .imgwidth {
  object-fit: contain;
  max-height: 150px;
  transition: all 300ms;
}
.Row--poster::-webkit-scrollbar {
  display: none;
}


h1 {
    font-size: x-large;
  color: white;
}
.Row--poster{
   display: flex;
    overflow-x: scroll;
overflow-y: hidden;
}
img:hover {

  transform: scale(1.04);
}
